:root {
    --my-orange: #ffc107;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.my-navbar {
    /*background: rgb(2,0,36) !important;*/
    /*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 86%, rgba(5,1,130,1) 100%) !important;*/
    background: rgb(2,92,173) !important;
    background: linear-gradient(90deg, rgba(2,92,173,1) 0%, rgba(5,39,90,1) 19%, rgba(5,39,90,1) 75%, rgba(2,92,173,1) 100%) !important;
    color: white !important;
}



ul.my-navbar-text li a {
    position: relative;
    color: white !important;
    text-transform: uppercase !important;
}

ul.my-navbar-text li a:hover {
        color: var(--my-orange) !important;
        text-shadow: 0px 2px 0px 0px black;
        font-weight: 500;
        /*border-bottom: solid 2px var(--my-orange) !important;*/
}

li.my-navbar-active a {
    border-bottom: solid 2px var(--my-orange) !important;
    font-weight: 500;
    color: var(--my-orange) !important;
    line-height: initial;

}



a#registerLink:hover {
    color: white !important;
}

ul.my-navbar-text li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background: var(--my-orange);
    transition: all 250ms ease-in-out;
}

ul.my-navbar-text li a:hover::after {
    width: 100%;
    left: 0;
}

a#profile-icon::after, ul.my-navbar-account-links li a::after, li.my-navbar-active a::after, li.my-navbar-active a:hover::after {
    width: 0%;
    height: 0;
}

/*.slider {
    padding: 30px;
    border-radius: 3px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}*/

.slider {
    width: fit-content;
}

.range-slider {
    width: 200px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}


.range-slider .rangeValues {
    display: block;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    padding: 20px;
    font-size: 1em;
    margin-bottom: 35px;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 200px;
    position: absolute;
    left: 0;
}

    input[type=range]::-webkit-slider-runnable-track {
        width: 200px;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #0273a0;
        margin-top: -6px;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }

    input[type=range]:focus {
        outline: none;
    }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }