@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right logged-in-links gap-3 align-items-center align-content-center">
        <li class="nav-item">
            <a class="p-3 text-white" style="margin-top: 0.1em" id="profile-icon" href="/Manage/Index"><i class="far fa-user-circle fs-4"></i></a>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link", area = "" })*@
        </li>
        <li class="nav-item"><a class="text-decoration-none text-white" href="javascript:document.getElementById('logoutForm').submit()"><i class="far fa-sign-out-alt fs-4"></i> </a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right my-navbar-text my-navbar-account-links align-items-center gap-2">
    <li class="nav-item"><a class="text-decoration-none" href="/Account/Login"><i class="far fa-sign-in-alt"></i> Log In</a></li>
    @*<li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link btn text-light", area = "" })</li>*@
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link btn btn-warning rounded-pill", area = "" })</li>
</ul>
}
